body {
  margin: 0;
  background-color: #f4f0e5 !important;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-footer {
  display: flex;
  justify-content: space-between;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.logo {
  padding: 8px;
  background-color: #007aff;
}

.width-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-end-screen {
  font-size: 38px;
  margin-bottom: 32px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.navbar {
  width: 160px;
  background-color: #007aff;
  display: flex;
  flex-direction: column;
}

.container-navbar {
  display: flex;
}

.list-group-item {
  background-color: #007aff !important;
  color: white !important;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .container-navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .container-navbar {
    width: 80%;
    height: 80vh;
  }
}
