body {
    margin: 0;
}

.container-card {
    min-height: 100vh;
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}

.quiz-answer-card:hover {
    cursor: pointer;  
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}